/*
#Author: Morgan Keys
#Email: morgan.keys@gmail.com
*/


$myOrange:#ff9933; 			/*rgb(255,153,51)*/
$myOrange_rgba: rgba(255, 153, 51, 1.0);
$myOrange_hsl: hsl(30, 100%, 60%);

$myRed:#ff3333;				/*rgb(255,51,51)*/
$myRed_rgb: rgba(255, 51, 51, 1.0);
$myRed_hsl: hsl(0, 100%, 60%);

$myBlue:#336699;			/*rgb(51,102,153)*/
$myBlue_rgba: rgba(51, 102, 153, 1.0);
$myBlue_hsl: hsl(210, 50%, 40%);

$black: #333;
$white: #fff;

$bg_color: #333;			/*rgb(51,51,51)*/
$text_color: #fff;			/*rgb(255,255,255)*/
$link_color: #ff9933; 		/*rgb(255,153,51)*/
$link_visited: #336699;		/*rgb(51,102,153)*/

$base_padding:10px;

$primary_font: Raleway, Helvetica, sans-serif;
$secondary_font: Helvetica, sans-serif;
$tertiary_font: Georgia, serif;

@mixin extendleft{
	padding-left: 3000px;
	margin-left: -3000px;
}
@mixin extendright{
	padding-right: 3000px;
	margin-right: -3000px;
}

.door-pic{
	height: 100%;
	width: 100%;
	z-index:-1;
	display: inline-block;
	background: $bg_color url("/static/imgs/door_pic_small.png") no-repeat center;
	background-size: cover;
}

body{
	overflow-x:hidden;
	height: 100% !important; //Dirty hack to prevent Skrollr from screwing up height on init.
}

.color_band{
	position:fixed;
	top:0;
	left:0;
	height:4px;
	background-color: $myRed;
	width:100%;
	z-index: 10;
	background-image: linear-gradient(90deg, $myBlue_hsl 30%, $myRed_hsl 100%);
}

.headliner{
	position: relative;
	top:20%;
	text-align: center;
	margin:auto;
	background-color: rgba(0,0,0,0);
	h1{
		font-size: 44px;
		margin:0px 0px 25px 0px;
	}
	h3{
		font-size: 21px;
		margin-top:20px;
	}
}


.header_row{
	/*background: rgba(0,0,0,.25);*/
	@include extendright;
	@include extendleft;
	h1{
		font-size: 44px;
		padding-top: 21px;
	}

	ul{
		margin: 80px 0px 0px 0px;
		li{
			display: inline;
			margin: 0px 0px 0px 21px;
			a:hover{
				color: $myBlue;
			}
		}
	}
	@media (max-width:992px){
		ul{
			margin: 40px 0px 0px 0px;
			li{
				margin: 0px 21px 0px 0px;
		}
	}
	}
}

.shelf{
	background-color: #333;
	@include extendright;
	@include extendleft;
	position: relative;
	color:white;
	.work_highlights{
		position: relative;
		h2{
			display: inline-block;
		}
	}
	section{
		&:first-child{
			padding-top: 50px;
		}
		padding: 100px 0px;
		/* 1.0 Normal size */


		.carousel{
			.arrow {
				font-size:32px;
			}
			.item {
				height: 550px;
			}
		}

		h3,p{
			margin: 0px 0px 20px 0px;

		}
		ul{
			padding-left: 16px;
			margin-bottom: 30px;
		}
		img{
			height:auto;
			width:100%;
			text-align: center;
			margin: auto;
		}

		.videoWrapper {
			position: relative;
			padding-bottom: 42.85%; /* 21:9  16:9 = 56.25%*/
			height: 50%;
		}
		.videoWrapper iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

		}
		.visual{
			/*top:50%;
			-webkit-transform:translateY(50%);*/
			padding: 15px;
			padding-top: 0px;

		}

		iframe{
			background-color: rgba(0,0,0,.75);
			box-shadow: 0px 0px 21px rgba(255,255,255, 0.2); /*On black bg*/
			border:none;
		}
		&:nth-child(2n){
			background-color: #fff;
			/*On white bg*/
			h3,p{color: #333;}
			@include extendleft;
			@include extendright;
			iframe{
				box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.2);
			}
			ul li{
				color: $black;
			}
		}
		/* For thin screens sizes */
		@media (max-width:992px){
			h3{
				margin-top: 30px;
				line-height: 32px;
			}
			img{
				margin: 40px auto;
			}
		}
	}
}

.footer_row{
	opacity: .5;
	padding-top:100px;
	padding-bottom:100px;
	text-align: center;
	aside{
		color:#fff;
		p.emphasis{
			margin:30px 0px;
			font-size: 15px;
			&.bg{
				font-size: 21px;
			}
		}
	}
}

.btm_links{
	position: relative;
	padding-bottom: 200px;
	width: 100%;
	text-align: center;
	ul{
		li{
			display: inline;
			margin-right: 21px;
			a:hover{
				color: $myBlue;
			}
		}
	}
}


.lightbox{
	visibility: hidden;
	position: fixed;
	z-index: 10;
	width: 100%;
	height:100%;
	top:0;
	left:0;
	background-color: rgba(0,0,0,.85);
	padding-top: 50px;
	img{
		height:auto;
		width:100%;
		text-align: center;
		margin: auto;
	}

}
