<!doctype html>

<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="static/bootstrap-responsive.min.css" />
<link rel="stylesheet" type="text/css" href="static/hello_style.css" />
<script type="text/javscript" src="js/jquery.stellar.min.js"></script>
<title>A prototype home page</title>
<body>
<div class="container">
	<div id="left" class="span2"></div>
	<div id="right" class="span8">
		<h1>morgankeys.com</h1>
		<h2>About me</h2>
		<p>Currently a Product Designer for enterprise and consumer web applications at Hightail, I am also a graduate of the University of Michigan School of Information. I have a Master of Science in Information with specializations in Human-Computer Interaction and Information Economics.</p>

		<p>I have an enduring fascination with people and their intersection with technology. My current interests include applications related to pervasive (aka ubiquitous) computing and computer-supported cooperative work.</p>

		<p class="emphasis">What I enjoy most is digging deeply into the lives of people and applying my creativity to create elegant solutions.</p>

		<p>If you’d like to learn more about me, take a look at my Resume/Projects page or My Education.</p>

		<p>If you have any other questions, feel free to tweet at me <a href="http://twitter.com/morgankeys">@morgankeys</a> or email me using that same username @gmail.com.</p>

		<h1>Examples</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		<h2>This is a smaller header H2</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		<aside>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</aside>
		<h3>Another H3</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		<h4>Getting pretty small H4</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		<h5>Small H5</h5>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
	</div>
</div>

</body>