{% extends "portfolio.html" %}
{% block sections %}
	<section id="usage_rpt" class="row">
		<div class="visual col-md-7 col-lg-8">
			<img src="/static/imgs/usageReport_improve_cropped.png">
		</div>
		<div class="col-md-5 col-lg-4">
			<h3>Hightail Usage Report</h3>
			<p>I concepted and designed an administrative feature for enterprise accounts to meet e-discovery requirements. The feature gave admins a simple yet powerful interface to browse activity, monitor collaboration between internal employees and external contractors, and take action to investigate or block suspicious actions. I also pushed to include important usability and navigation improvements to the larger admin console as part of the project.</p>
			<p>Usage Report was the most advanced feature that Hightail offered and was often a highlight of sales demos. (Fall 2012)</p>
			<button onclick="askme('Hightail Enterprise Usage Report')">Ask me about it!</button>
		</div>
	</section>
	<section id="qualcomm" class="row">
		<div class="visual col-md-7 col-lg-8">
			<img src="/static/imgs/tcs/qualcomm.png">
		</div>
		<div class="col-md-5 col-lg-4">
			<h3>Qualcomm trucking apps</h3>
			<p>As a consultant at Tata Consultancy Services, I worked with Qualcomm to design Android versions of two apps from the truck-based Mobile Computing Platform. I delivered specs for phone and tablet versions that took into account safety considerations and government regulations. (Fall 2011)</p>
			<ul>
				<li>Compliance — An accountability app that tracked driving hours, logs, and other information in accordance with strict regulations. Allowed drivers to perform vehicle inspections and present their logs to highway patrol officers upon request. Included a locked "driving mode" to meet safety requirements.</li>
				<li>Fleet Visibility — A tracking app that gave drivers an overview of their trip plan, including designated drops, fuel stops, and other tasks. </li>
			</ul>
			<button onclick="askme('Qualcomm trucking apps')">Ask me about it!</button>
		</div>
	</section>
	<section id="ysi_usability" class="row">
		<div class="visual col-md-7 col-lg-8">
			<img src="/static/imgs/ysi_usability/ysi_mobileapp_homepage.png">
		</div>
		<div class="col-md-5 col-lg-4">
			<h3>Guerilla Usability-Testing at YouSendIt</h3>
			<p>As part of a complete redesign of YouSendIt's iOS app, I performed a variety of usability tests with no budget. Uncovered frustrating visual-design flaws, allowing the team to redesign before launch. (Summer 2012)</p>
			<p>
			Tests included:
			</p>
			<ul>
				<li>Coffee shop usability surveys — camping out at coffee shops, I exposed volunteers to candidate page-layouts and iconography</li>
				<li>In-house user-testing — I tested clickable mock-ups with internal volunteers to assess the usability of folder/file interaction paradigms</li>
			</ul>
			<button onclick="askme('Usability testing at YouSendIt')">Ask me about it!</button>
		</div>
	</section>
	<section id="pixd" class="row">
		<div class="col-md-5 col-lg-4">
			<h3>Pervasive Interaction and Experience Design</h3>
			<p>I worked with classmates to design and prototype a ubiquitous-computing experience for the University of Michigan’s brand-new North Quad Residential complex. We used contextual inquiry and “speed-dating” techniques to understand users and the physical environment. The project required us to design for an ecosystem of wall-displays, smartphones, and web-apps. We presented to community directors and developed concept videos. The final prototype featured live QR-codes and semi-responsive adaptive text. (Spring 2010)
			</p>
			<button onclick="askme('Pervasive Interaction and Experience Design')">Ask me about it!</button>
		</div>
		<div class="visual videowrapper col-md-7 col-lg-8">
			<iframe src="http://player.vimeo.com/video/22869156?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</section>
	<section id="intel" class="row">
		<div class="col-md-5 col-lg-4">
			<h3>Human-Factors Engineering at Intel</h3>
			<p>As a Summer Intern with Intel's Human Factors Engineering team, I performed a usability study on the “Circuit” web-portal, the home-page for the majority of Intel’s 80,000+ employees. (Summer 2010)
			</p>
			<ul>
				<li>Collaborated with a mentor to conduct card-sorting exercises for 340+ users</li>
				<li>Designed a branching survey flow that interconnected a Qualtrics survey with a web-based card-sorting tool</li>
				<li>Conducted 25+ user interviews and produced affinity notes and observations</li>
				<li>Designed and lead group participatory-design sessions</li>
			</ul>
			<button onclick="askme('Card-sorting and interviewing at Intel')">Ask me about it!</button>
		</div>
		<div class="visual col-md-7 col-lg-8">
			<img src="/static/imgs/intel/intel_collage.png">
		</div>
	</section>
	<section id="ht_enterprise" class="row">
		<div class="col-md-5 col-lg-4">
			<h3>Hightail for Enterprise</h3>
			<p>As lead designer for Hightail's enterprise products, I created or redesigned many major features and oversaw the implementation of integrations by outside contractors. I was also chosen as an official liaison, responsible for communicating needs and promoting Design thinking to the enterprise business unit. (Fall 2011 - Summer 2014)</p>
			<p>
				Major features worked on:
			</p>
			<ul>
				<li>Reporting, as well as exporting and scheduling of reports</li>
				<li>Admin dashboard</li>
				<li>User-group administration</li>
				<li>Admin-policy configuration</li>
				<li>Integrations with SharePoint, SalesForce, IBM, and Netsuite</li>
			</ul>
			<button onclick="askme('Hightail for Enterprise')">Ask me about it!</button>
		</div>
		<div class="visual videowrapper col-md-7 col-lg-8">
		<iframe src="//player.vimeo.com/video/95018028?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</section>
	<section id="uplink" class="row">
		<div class="visual col-md-7 col-lg-8">
			<a href="http://hightail.com/u/morgankeys"> <img src="/static/imgs/uplink_in_browser.png" ></a>
		</div>
		<div class="col-md-5 col-lg-4">
			<h3>Hightail Uplink</h3>
			<p>I advocated giving more attention to a popular yet neglected product and eventually was charged with leading a complete redesign. (Fall 2013)</p>
			<ul>
				<li>Used user-preferences as qualitative data to examine user needs. This proved more effective than traditional analytics and allowed us to gain early insight without costly user-interviews.</li>
				<li>Prototyped concepts in html/css/javascript in order to try out different layouts and transitions.</li>
				<li>Created key onboarding and engagement experiences that produced significant upticks in adoption and engagement (+8k users and +45k file-sends in the first 3 months).</li>
			</ul>
			<button onclick="askme('Hightail Uplink')">Ask me about it!</button>
		</div>
	</section>
	<section id="ht_for_android" class="row">
		<div class="col-md-5 col-lg-4">
			<h3>Hightail for Android</h3>
			<p>Assisted in the redesign of Hightail's Android app. Worked on the mechanics of shared-folder invites and managing user-permissions as well as file-sending controls. (Spring 2014)
			</p>
			<p>Check out the app <a href="https://play.google.com/store/apps/details?id=com.yousendit.android">here</a>.</p>
			<button onclick="askme('Hightail for Android')">Ask me about it!</button>
		</div>
		<div class="visual col-md-7 col-lg-8">
			<img src="/static/imgs/hightail_for_android/ht-for-android.png">
		</div>
	</section>
{% endblock %}