<html>
<head>
	<title>morgan keys</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="static/style.css" />
	<link rel="stylesheet" type="text/css" href="static/portfolio.css"/>

	<!-- Still deciding what to do with these...-->
	<!-- script type="text/javscript" src="static/js/portfolio.js"></script -->
	<!-- script src="static/js/jquery.stellar.min.js" type="text/javscript"></script -->
	<!-- link rel="stylesheet" type="text/css" href="static/skrollr_stuff.css" data-skrollr-stylesheet  / -->
	
	<!-- Scripts -->
	<script src="static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="static/js/bootstrap.min.js" type="text/javascript"></script>

	<script>
		function askme(topic){
			var subject;
			//console.log($(this));
			if (topic == null){
				//var topic = '?subject=Regarding your experience with '+ $(this).children('h3').text();
				//console.log($(this));
				subject = null;
			}else{
				subject = '?subject=Regarding your experience with '+ topic
			}
			window.location.href='mailto:morgankeys+portfolio@gmail.com'+subject;
		}
	</script>
</head>
<body data-start="height:100%;">
	<div id="color_band"></div>
	<div id="skrollr-body">
		<div id="door-pic" data-top="background-position-y:0px;" data-top-bottom="background-position-y[sqrt]:-150px;">
			<div id="headliner" class="container" data-start="top:25%; opacity:1.0;" data-100="top[sqrt]:0%; opacity:0.0;">
				<div class="col-md-8 col-md-offset-2">
					<h1>Hi, I'm Morgan.</h1>
					<h3>I'm a UX Designer who loves decision science, complex adaptive systems, and people. Most of all people. Take a look around and then let's chat.
					</h3>
					<!-- button onclick="askme()">Contact me</button -->
				</div>
			</div>
		</div>

		<div id="shelf" data-bottom-top="top:0px"  data-top-top="top[sqrt]:-400px">

			<div id="header_row">
				<div id="header_row_inner" class="container">
				<div class="col-md-8"><h1 id="skrollrtest">morgan keys</h1></div>
				<ul class="col-md-4 clearfix">
					<li><a href="http://twitter.com/@morgankeys">@morgankeys</a></li>
					<li><a href="https://www.linkedin.com/in/morgankeys">LinkedIn</a></li>
					<li><a href="https://www.dropbox.com/s/2gt7lk8dbhbpdg2/mkeys_resume_2014.pdf" title="Download my resume">Resume</a></li>
				</ul>
				</div>
			</div>

			<div id="work_container" class="container" >
				<div id="work_highlights" class="col-md-12">
					<section class="row">
						<div class="visual col-md-8">
							<a href="http://hightail.com/u/morgankeys"> <img src="/static/imgs/uplink_in_browser.png" ></a>
						</div>
						<div class="col-md-4">
							<h3>Hightail Uplink</h3>
							<p>I advocated giving more attention to a popular yet neglected product and eventually was charged with leading a complete redesign. (Fall 2013)</p>
							<ul>
								<li>Used user-preferences as qualitative data to examine user needs. This proved more effective than traditional analytics and allowed us to gain early insight without costly user-interviews.</li>
								<li>Prototyped concepts in html/css/javascript in order to try out different layouts and transitions.</li>
								<li>Created key onboarding and engagement experiences that produced significant upticks in adoption and engagement (+8k users and +45k file-sends in the first 3 months).</li>
							</ul>


							<button onclick="askme('Hightail Uplink')">Ask me about it!</button>
						</div>
					</section>
					<section class="row">
						<div class="col-md-4">
							<h3>Hightail for Enterprise</h3>
							<p>As lead designer for Hightail's enterprise products, I created or redesigned many major features and oversaw the implementation of integrations by outside contractors. I was also chosen as an official liaison, responsible for communicating needs and promoting Design thinking to the enterprise business unit. (Fall 2011 - Summer 2014)</p>
							<p>
								Major features worked on:
							</p>
							<ul>
								<li>Reporting, as well as exporting and scheduling of reports</li>
								<li>Admin dashboard</li>
								<li>User-group administration</li>
								<li>Admin-policy configuration</li>
								<li>Integrations with SharePoint, SalesForce, IBM, and Netsuite</li>
							</ul>
							<button onclick="askme('Hightail for Enterprise')">Ask me about it!</button>
						</div>
						<div class="visual videowrapper col-md-8">
						<iframe src="//player.vimeo.com/video/95018028?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
					</section>
					<section class="row">
						<div class="visual col-md-8">
							<img src="/static/imgs/usageReport_improve_cropped.png">
						</div>
						<div class="col-md-4">
							<h3>Hightail Enterprise Usage Report</h3>
							<p>Designed a new feature for e-discovery requirements and pushed for important usability and navigation improvements. The most advanced feature that Hightail offers; often a highlight of sales demos. (Fall 2012)</p>
							<button onclick="askme('Hightail Enterprise Usage Report')">Ask me about it!</button>
						</div>
					</section>
					<section class="row">
						<div class="col-md-4">
							<h3>Pervasive Interaction and Experience Design</h3>
							<p>Worked with a team to design and prototype a pervasive (ubicomp) application for the University of Michigan’s brand-new North Quad Residential complex. Used contextual inquiry and “speed-dating” techniques to understand users and the physical environment. The project required us to design for an ecosystem of wall-displays, smartphones, and web-apps. Presented to community directors and developed concept videos. Final prototype featured live QR-codes and semi-responsive adaptive text. (Spring 2010)
							</p>
							<button onclick="askme('Pervasive Interaction and Experience Design')">Ask me about it!</button>
						</div>
						<div class="visual videowrapper col-md-8">
							<iframe src="http://player.vimeo.com/video/22869156?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
					</section>
					<section class="row">
						<div class="visual col-md-8">
							<img src="/static/imgs/ysi_usability/ysi_mobileapp_homepage.jpg">
						</div>
						<div class="col-md-4">
							<h3>Guerilla Usability-Testing at YouSendIt</h3>
							<p>As part of a complete redesign of YouSendIt's iOS app, I performed a variety of usability tests with no budget. Uncovered frustrating visual-design flaws, allowing the team to redesign before launch. (Fall 2011)</p>
							<p>
							Tests included:
							</p>
							<ul>
								<li>Coffee shop usability surveys — camping out at coffee shops, I exposed volunteers to candidate page-layouts and iconography</li>
								<li>In-house user-testing — I tested clickable mock-ups with internal volunteers to assess the usability of folder/file interaction paradigms</li>
							</ul>
							<button onclick="askme('Usability testing at YouSendIt')">Ask me about it!</button>
						</div>
					</section>
					<section class="row">
						<div class="col-md-4">
							<h3>Human-Factors Engineering at Intel</h3>
							<p>As a Summer Intern with Intel's Human Factors Engineering team, I performed a usability study on the “Circuit” web-portal, the home-page for the majority of Intel’s 80,000+ employees. (Summer 2010)
							</p>
							<ul>
								<li>Collaborated with a mentor to conduct card-sorting exercises for 340+ users</li>
								<li>Designed a branching survey flow that interconnected a Qualtrics survey with a web-based card-sorting tool</li>
								<li>Conducted 25+ user interviews and produced affinity notes and observations</li>
								<li>Designed and lead group participatory-design sessions</li>
							</ul>
							<button onclick="askme('Card-sorting and interviewing at Intel')">Ask me about it!</button>
						</div>
						<div class="visual col-md-8">
							<img src="/static/imgs/intel/intel_collage.png">
						</div>
					</section>
				</div>
			</div>
			<div id="footer_row" class="container">
				<div class="row">
					<aside class="col-md-10 col-md-offset-1">
						<p class="emphasis">This site was hand crafted by yours-truly. Controller built with <a href="https://github.com/mitsuhiko/flask">Flask</a>. Front-end built with <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="https://github.com/jquery/">Jquery</a>, and <a href="https://github.com/Prinzhorn/skrollr">Skrollr</a>. Take at look at the code <a href="https://github.com/morgankeys/myflaskportfolio">here</a>.</p>
						<p class="emphasis">Also, special thanks to <a href="http://twitter.com/@iamaaronmartin">Aaron Martin</a> for photography and visual-design inspiration.</p>
						<p class="emphasis bg">Thanks!</p>
					</aside>
				</div>
			</div>
		</div>
		<div id="btm_links" data-start="opacity:0" data-100-end="opacity:0" data-end="opacity:1">
			<ul>
				<li><a href="http://twitter.com/@morgankeys">@morgankeys</a></li>
				<li><a href="https://www.linkedin.com/in/morgankeys">LinkedIn</a></li>
				<li><a href="https://www.dropbox.com/s/2gt7lk8dbhbpdg2/mkeys_resume_2014.pdf" title="Download my resume">Resume</a></li>
			</ul>
		</div>
	</div>

	<!-- an experimental lightbox>
	<div id="lb_reporting" class="lightbox">
		<div id="lb_container" class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<img src="/static/imgs/usageReport_improve_cropped.png">
				</div>
			</div>
		</div>
	</div -->


	<!-- script type="text/javascript" src="static/js/skrollr.stylesheets.min.js"></script -->
	<script type="text/javascript" src="static/js/skrollr.min.js"></script>
	<script>
		$(document).ready(function(){
			//Initialize Skrollr
			var s = skrollr.init([smoothScrolling=true]);

			$(window).scroll(function(){
				console.log($(window).scrollTop());
			});
		});
	</script>
</body>
</html>
