<html>
<head>
	<title>morgan keys</title>
	
	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="static/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="static/style.css" />
	<link rel="stylesheet" type="text/css" href="static/portfolio.css"/>
	<link rel="stylesheet" type="text/css" href="static/skrollr_stuff.css" data-skrollr-stylesheet  />

	<!-- Still deciding what to do with these. Hopefully will get something parallaxy going...-->
	<!-- script type="text/javscript" src="static/js/portfolio.js"></script -->
	<!-- script src="static/js/jquery.stellar.min.js" type="text/javscript"></script -->
	
	<!-- Scripts -->
	<script src="static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="static/js/bootstrap.min.js" type="text/javascript"></script>

	<script>
		function askme(topic){
			var subject;
			//console.log($(this));
			if (topic == null){
				//var topic = '?subject=Regarding your experience with '+ $(this).children('h3').text();
				//console.log($(this));
				subject = null;
			}else{
				subject = '?subject=Regarding your experience with '+ topic
			}
			window.location.href='mailto:morgankeys+portfolio@gmail.com'+subject;
		}
	</script>
</head>
<body data-start="height:100%;">
	<div id="color_band"></div>
	<div id="skrollr-body">
		<div id="door-pic" data-start="background-position-y:0px;" data-100="background-position-y:-10px" data-200="background-position-y[sqrt]:-200px;">
			<div id="headliner" class="container" data-start="top:25%; opacity:1.0;" data-100="top:0px; opacity:0.0;" data-200="top[sqrt]:-10%; opacity:0.0;">
				<div class="col-md-8 col-md-offset-2">
					<h1>Hi, I'm Morgan.</h1>
					<h3>I'm a UX Designer who loves decision science, complex adaptive systems, and people. Most of all people. Take a look around and then let's chat.
					</h3>
					<!-- button onclick="askme()">Contact me</button -->
				</div>
			</div>
		</div>

		<div id="shelf" data-start="top:0%"  data-200="top[sqrt]:-50%">

			<div id="header_row" >
				<div id="header_row_inner" class="container">
				<div class="col-md-8"><h1 id="skrollrtest">morgan keys</h1></div>
				<ul class="col-md-4 clearfix">
					<li><a href="http://twitter.com/@morgankeys">@morgankeys</a></li>
					<li><a href="https://www.linkedin.com/in/morgankeys">LinkedIn</a></li>
					<li><a href="https://www.dropbox.com/s/2gt7lk8dbhbpdg2/mkeys_resume_2014.pdf" title="Download my resume">Resume</a></li>
				</ul>
				</div>
			</div>

			<div id="work_container" class="container" >
				<div id="work_highlights" class="col-md-12">
					<section class="row">
						<div class="col-md-8">
							<a href="http://hightail.com/u/morgankeys"> <img src="/static/imgs/uplink_in_browser.png" ></a>
						</div>
						<div class="col-md-4">
							<h3>Hightail Uplink</h3>
							<p>Charged with resurrecting a popular yet neglected product, I combed through user-data and prototyped concepts to create a new experience, new features, and an onboarding flow. The redesign produced significant upticks in adoption and engagement (+8k users and +45k file-sends in the first 3 months). (Fall 2013)</p>
							<button onclick="askme('Hightail Uplink')">Ask me about it!</button>
						</div>
					</section>
					<section class="row">
						<div class="col-md-4">
							<h3>Hightail for Enterprise</h3>
							<p>In 2014, as part of a company-wide reorganization, I was chosen to be the official liaison to the enterprise business unit. I facilitate communication and advocate for Design. I work with product managers, customer representatives, salespeople, and engineers to understand the enterprise business and look for ways improve our process and our products.</p>
							<button onclick="askme('Hightail for Enterprise')">Ask me about it!</button>
						</div>
						<div class="videowrapper col-md-8">
						<iframe src="//player.vimeo.com/video/95018028?title=0&amp;byline=0&amp;portrait=0"webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
					</section>
					<section class="row">
						<div class="col-md-8">
							<img src="/static/imgs/usageReport_improve_cropped.png">
						</div>
						<div class="col-md-4">
							<h3>Hightail Enterprise Usage Report</h3>
							<p>Designed a new feature for e-discovery requirements and pushed for important usability and navigation improvements. The most advanced feature that Hightail offers; often a highlight of sales demos. (Fall 2012)</p>
							<button onclick="askme('Hightail Enterprise Usage Report')">Ask me about it!</button>
						</div>
					</section>
					<section class="row">
						<div class="col-md-4">
							<h3>Pervasive Interaction and Experience Design</h3>
							<p>Worked with a team to design and prototype a pervasive (ubicomp) application for the University of Michigan’s brand-new North Quad Residential complex. Used contextual inquiry and “speed-dating” techniques to understand users and the physical environment. The project required us to design for an ecosystem of wall-displays, smartphones, and web-apps. Presented to community directors and developed concept videos (see below for final video). Final prototype featured live QR-codes and semi-responsive adaptive text.
							</p>
							<button onclick="askme('Pervasive Interaction and Experience Design')">Ask me about it!</button>
						</div>
						<div class="videowrapper col-md-8">
							<iframe src="http://player.vimeo.com/video/22869156?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>
					</section>
				</div> <!-- end left -->
			</div>

			<div id="footer_row" class="container">
				<div class="col-md-7 col-md-offset-5">				
					<h3>Professional summary</h3>
					<h3>Personal</h3>
					<h3><a href="../../documents/usability-reports.zip">Older work</h3></a>
				</div>
			</div>
		</div>
	</div>

	<!-- script type="text/javascript" src="static/js/skrollr.stylesheets.min.js"></script -->
	<script type="text/javascript" src="static/js/skrollr.min.js"></script>
	<script>
		$(document).ready(function(){
			//Initialize Skrollr
			var s = skrollr.init([smoothScrolling=true, forceHeight=false]);

			$(window).scroll(function(){
				console.log($(window).scrollTop());
			});
		});
	</script>
</body>
</html>
