{% extends "global.html" %}

{% block metadata %}
	<title>My personal style-guide</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<!-- OpenGraph -->
	<meta property="og:title" content="Morgan's portfolio style guide'" />
	<meta property="og:image" content="http://www.morgankeys.com/static/imgs/door_pic_small.png" />
	<meta property="og:url" content="http://www.morgankeys.com/style" />
	<meta property="og:description" content="Style guide for my portfolio site." />
{% endblock %}
{% block page_css %}
	<style>
		body{
			height:1200px;
		}
	</style>
{% endblock %}
{% block page_scripts %}
	<!-- no special scripts here -->
{% endblock %}
{% block page_body %}
<body>
	<div id="swatches" class="container">
		<div class="col-md-4">
			<div id="orange" class="swatch"></div>
			<p>
				Orange<br>
				#ff9933<br>
				rgb(255,153,51)
			</p>
		</div>
		<div class="col-md-4">
			<div id="blue" class="swatch"></div>
			<p>
				Blue <br>
				#336699<br>
				rgb(51,102,153)
			</p>
		</div>
		<div class="col-md-4">
			<div id="red" class="swatch"></div>
			<p>
				Red<br>
				#ff3333<br>
				rgb(255,51,51)
			</p>
		</div>
	</div>
	<div class="container">
		<div class="col-md-12">
			<h1>H1 heading Raleway 55px</h1>
			<h2>H2 heading Raleway 36px</h2>
			<h3>H3 heading Raleway 28px</h3>
			<h4>H4 heading Helvetica 21px</h4>
			<h5>H5 heading Helvetica 15px</h5>
			<h6>H6 heading Helvetica Italic 15px</h6>
			<div class="divider"></div>
			<a>This is a link</a>
			<p>{{ lipsum(n=2, html=True, min=20, max=100) }}</p>
			<p class="emphasis">This is a section that I want to call out.</p>
			<p>{{ lipsum(n=2, html=True, min=20, max=100) }}</p>
		</div>
	</div>
</body>
{% endblock %}








